<h2>教科編集</h2>

<%= form_with model: @subject, url: admin_subject_path, method: :patch do |f| %>
  教科</br>
  <%= f.text_field :subject_name %></br>

  <%= f.submit "更新する" %>

<% end %>

<table class="table table-hover table-inverse">
  <tr>
    <th>作問者</th>
    <th>教科</th>
    <th>問題</th>
    <th>ステータス</th>
    <th></th>
  </tr>
  <% @created_problems.each_slice(5) do |row| %>
    <% row.each do |created_problem| %>
    <tr>
      <td><%= created_problem.learner.name %></td>
      <td><%= created_problem.subject.subject_name %></td>
      <td><%= created_problem.problem %></td>
      <td>ステータス</td>
      <td>解く</td>
    </tr>
    <% end %>
  <% end %>
</table>