<div class="d-inline-block">
  <h2 class="bg-primary text-white">登録情報変更</h2>
</div>

<% if flash[:alert].present? %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with model: @learner, url: learner_path(@learner), method: :patch do |f| %>
  <table class="h5">
    <tr>
      <div class="field">
        <td align="right">
          <%= f.label "ニックネーム" %>
          　　<%= f.text_field :name %>
        </td>
      </div>
    </tr>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr>
      <div class="field">
        <td align="right">
          <%= f.label "ニックネーム　よみがな" %>
          　　<%= f.text_field :name_kana %>
        </td>
      </div>
    </tr>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr>
      <div class="field">
        <td align="right">
          <%= f.label "メールアドレス" %>
          　　<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </td>
      </div>
    </tr>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr>
      <td align="center">
        <input class="btn btn-primary" type="submit" value="変更する">
      </td>
    </tr>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr>
      <td align="right">
        退会を希望する方は<%= link_to "こちら", learners_unsubscribe_path, class: 'link-underline' %>
      </td>
    </tr>
  </table>
<% end %>