<h2>マイページ</h2>

ニックネーム　<%= @learner.name %></br>

<%= link_to "登録情報の変更", edit_learner_path(@learner) %></br>

ステータス　<% if @learner.is_active == true %>
    有効会員</br>
  <% else %>
    退会済</br>
  <% end %></br>
現在のレベル
<% if @point_all <= 4 %>
  １
<% elsif @point_all <= 24 %>
  ２
<% elsif @point_all <= 49 %>
  ３
<% elsif @point_all <= 74 %>
  ４
<% elsif @point_all <= 99 %>
  ５
<% end %>
</br>
（次のレベルまで
<% if @point_all <= 4 %>
  <%= 5 - @point_all %>
<% elsif @point_all <= 24 %>
  <%= 25 - @point_all %>
<% elsif @point_all <= 49 %>
  <%= 50 - @point_all %>
<% elsif @point_all <= 74 %>
  <%= 75 - @point_all %>
<% elsif @point_all <= 99 %>
  <%= 100 - @point_all %>
<% end %>
p）</br>

今日獲得したポイント　<%= @point_today %>p</br>
今月獲得したポイント　<%= @point_this_month %>p</br>
累計獲得ポイント　<%= @point_all %>p</br>

<%= link_to "ポイント獲得履歴", points_path %>

</br>
コメント履歴
<%= link_to "コメント履歴", solved_problem_comments_path %>