<h2>投稿問題一覧画面</h2>
  <% if learner_signed_in? %>
  <%= form_with url: createdproblems_path, method: :get do |f| %>
    キーワードで問題内容から検索
    <%= f.text_field :problem, placeholder: "キーワードを入力" %>
    教科検索
    <%= f.select :subject_name, options_for_select([["",""]] + @subjects.pluck(:subject_name)) %>
    ステータス検索
    <%= f.select :is_release, options_for_select([["",""], ["公開中", true], ["非公開", false]]) %>
    <%= f.submit "検索" %>
  <% end %>

<table class="table table-hover table-inverse">
  <tr>
    <th>教科</th>
    <th>問題</th>
    <th>ステータス</th>
  </tr>
  <% @created_problems.each_slice(10) do |row| %>
    <% row.each do |created_problem| %>
      <tr>
        <td><%= created_problem.subject.subject_name %></td>
        <td><%= created_problem.problem %></td>
        <td><% if created_problem.is_release == true %>
    公開中</br>
  <% else %>
    非公開中</br>
  <% end %></td>
        <td><%= link_to "詳細", createdproblem_path(created_problem.id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<% else %>
問題の投稿した問題一覧機能はログイン後に利用可能です。</br>
ログインはこちら</br>
新規登録はこちら
<% end %>