<h2>問題新規投稿</h2>
 <% if learner_signed_in? %>
<%= form_with model: @created_problem, url: createdproblems_path, method: :post do |f| %>
  教科</br>
  <%= f.select :subject_id, options_from_collection_for_select(Subject.all, :id, :subject_name) %></br>

  問題</br>
  <%= f.text_field :problem %></br>

  模範解答</br>
  <%= f.text_field :model_answer %></br>

  解説</br>
  <%= f.text_field :explanation %></br>

  <%= f.submit "投稿する" %>

<% end %>
<% else %>
問題の投稿機能はログイン後に利用可能です。</br>
ログインはこちら</br>
新規登録はこちら
<% end %>

