<div class="d-inline-block">
  <h2 class="bg-warning text-white">ランキング　トップ１０</h2>
</div>

<table class="text-center">
  <tr class="h3 bg-success text-white">
    <td colspan="3">今日のランキング</td>
  </tr>
  <tr class="bg-dark text-white h4">
    <th>　順位　</th>
    <th>　学習者名　</th>
    <th>　獲得ポイント　</th>
  </tr>
  <% @point_ranking_today.first(10).each_with_index do |(learner_id, total_points), index| %>
    <% learner = Learner.find_by(id: learner_id) %>
    <tr class="h5">
      <td><%= index + 1 %>　位</td>
      <td><%= learner.name if learner %>　さん</td>
      <td><%= total_points %>　pt</td>
    </tr>
  <% end %>
  <tr>
    <td colspan="number_of_columns">&nbsp;</td>
  </tr>
  <tr class="h3 bg-info text-white text-center">
    <td colspan="3">今月のランキング</td>
  </tr>
  <tr class="bg-dark text-white h4">
    <th>　順位　</th>
    <th>　学習者名　</th>
    <th>　獲得ポイント　</th>
  </tr>
  <% @point_ranking_month.first(10).each_with_index do |(learner_id, total_points), index| %>
    <% learner = Learner.find_by(id: learner_id) %>
    <tr class="h5">
      <td><%= index + 1 %>　位</td>
      <td><%= learner.name if learner %>　さん</td>
      <td><%= total_points %>　pt</td>
    </tr>
  <% end %>
</table>