<h2>正解画面</h2>

正解おめでとう！</br>
１ptゲット！</br>
（ログインしていない場合、ポイントは加算されません）</br>

<% if learner_signed_in? %>
  解答　<%= @solved_problem.created_problem.model_answer %></br>
  解説　<%= @solved_problem.created_problem.explanation %></br>
<% else %>
  解答　<%= @created_problem.model_answer %></br>
  解説　<%= @created_problem.explanation %></br>
<% end %>

<% if learner_signed_in? %>
  いいねする
  <% if @created_problem.favorited_by?(current_learner) %>
    <%= link_to created_problem_favorites_path(created_problem_id: @created_problem.id, solved_problem_id: @solved_problem.id), method: :delete do %>
      ❤️
    <% end %>
  <% else %>
    <%= link_to created_problem_favorites_path(created_problem_id: @created_problem.id, solved_problem_id: @solved_problem.id), method: :post do %>
      ♡
    <% end %>
  <% end %>
  </br>

<% if Comment.exists?(learner_id: current_learner.id, solved_problem_id: @solved_problem.id) %>
  <%= form_with model: @comment, url: comment_path(@solved_problem, @comment), method: :patch do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "コメントを修正する" %>
  <% end %>
  <%= link_to "コメントを削除する", comment_path(@solved_problem, @comment), method: :delete %>
<% else %>
  <%= form_with model: @comment, url: comments_path(solved_problem_id: @solved_problem.id), method: :post do |f| %>
    <%= f.text_area :content %>
    <%= f.submit "コメントする" %>
  <% end %>
<% end %>

  <%= form_with url: created_problems_all_path, method: :get do |f| %>
    <%= f.hidden_field :subject_name, :value => @solved_problem.created_problem.subject.subject_name %>
    <%= f.submit "続けて同じ教科の問題を解く" %></br>
  <% end %></br>
  <%= form_with url: created_problems_all_path, method: :get do |f| %>
    <%= f.hidden_field :name, :value => @solved_problem.created_problem.learner.name %>
    <%= f.submit "続けて同じ作問者の問題を解く" %></br>
  <% end %></br>
<% end %>

<%= link_to "みんなの問題一覧に戻る", created_problems_all_path %>