<div class="d-inline-block">
  <h2 class="bg-primary text-white">解答結果：正解</h2>
</div>

<table>
  <tr class="text-center">
    <td colspan="2">
      <h3 class="d-inline-block bg-success text-white">正解おめでとう！</h3>
    </td>
  </tr>
  <tr>
    <td colspan="number_of_columns">&nbsp;</td>
  </tr>
  <tr class="text-center">
    <td colspan="2">
      <h4>
        １ptゲット！</br>
        （ログインしていない場合、ポイントは加算されません）
      </h4>
    </td>
  </tr>
  <tr>
    <td colspan="number_of_columns">&nbsp;</td>
  </tr>
  <% if learner_signed_in? %>
    <tr class="text-center h4">
      <td align="right", class="d-inline-block bg-dark text-white">模範解答</td>
      <td><%= @solved_problem.created_problem.model_answer %></td>
    </tr>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr class="text-center h4">
      <td align="right", class="d-inline-block bg-dark text-white">解説</td>
      <td><%= @solved_problem.created_problem.explanation %></td>
    </tr>
  <% else %>
    <tr class="text-center h4">
      <td align="right", class="d-inline-block bg-dark text-white">模範解答</td>
      <td><%= @created_problem.model_answer %></td>
    </tr>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr class="text-center h4">
      <td align="right", class="d-inline-block bg-dark text-white">解説</td>
      <td><%= @created_problem.explanation %></td>
    </tr>
  <% end %>

  <% if learner_signed_in? %>
    <tr>
      <td colspan="number_of_columns">&nbsp;</td>
    </tr>
    <tr class="text-center h4">
      <td class="d-inline-block bg-dark text-white">いいねする</td>
      <td>
        <% if @created_problem.favorited_by?(current_learner) %>
          <%= link_to created_problem_favorites_path(created_problem_id: @created_problem.id, solved_problem_id: @solved_problem.id), method: :delete do %>
            ❤️
          <% end %>
        <% else %>
          <%= link_to created_problem_favorites_path(created_problem_id: @created_problem.id, solved_problem_id: @solved_problem.id), method: :post do %>
            ♡
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<% if learner_signed_in? %>
  <div class="row pt-3">
    <div class="col-3">
    </div>
    <% if Comment.exists?(learner_id: current_learner.id, solved_problem_id: @solved_problem.id) %>
      <%= form_with model: @comment, url: comment_path(@solved_problem, @comment), method: :patch do |f| %>
        <%= f.text_area :content, placeholder: 'コメントを入力', style: 'width: 150%; height: 100px;' %></br>
        <input class="btn btn-primary" type="submit" value="コメントを修正する">
      <% end %>
    <% else %>
      <%= form_with model: @comment, url: comments_path(solved_problem_id: @solved_problem.id), method: :post do |f| %>
        <%= f.text_area :content, placeholder: 'コメントを入力', style: 'width: 150%; height: 100px;' %></br>
        <input class="btn btn-primary" type="submit" value="コメントする">
      <% end %>
    <% end %>
  </div>
  <div class="row pt-3">
    <div class="col-3">
    </div>
    <%= form_with url: created_problems_all_path, method: :get do |f| %>
      <%= f.hidden_field :subject_name, :value => @solved_problem.created_problem.subject.subject_name %>
      <input class="btn btn-secondary" type="submit" value="続けて同じ教科の問題を解く">
    <% end %>
    <%= form_with url: created_problems_all_path, method: :get do |f| %>
      <%= f.hidden_field :name, :value => @solved_problem.created_problem.learner.name %>
      　　　<input class="btn btn-secondary" type="submit" value="続けて同じ作問者の問題を解く">
    <% end %>
  </div>
<% end %>
<div class="row pt-3">
  <div class="col-8">
  </div>
  <%= link_to "みんなの問題一覧に戻る", created_problems_all_path, class: 'link-underline text-right' %>
</div>