<h2>不正解画面</h2>

残念、不正解！</br>
解答・解説を確認して</br>
再チャレンジしよう！</br>

<% if learner_signed_in? %>
  解答　<%= @solved_problem.created_problem.model_answer %></br>
  解説　<%= @solved_problem.created_problem.explanation %></br>
<% else %>
  解答　<%= @created_problem.model_answer %></br>
  解説　<%= @created_problem.explanation %></br>
<% end %>

<% if learner_signed_in? %>
  <%= link_to "もう一度同じ問題を解く", created_problem_path(@created_problem) %></br>
  <%= form_with url: created_problems_all_path, method: :get do |f| %>
    <%= f.hidden_field :subject_name, :value => @solved_problem.created_problem.subject.subject_name %>
    <%= f.submit "続けて同じ教科の問題を解く" %></br>
  <% end %></br>
  <%= form_with url: created_problems_all_path, method: :get do |f| %>
    <%= f.hidden_field :name, :value => @solved_problem.created_problem.learner.name %>
    <%= f.submit "続けて同じ作問者の問題を解く" %></br>
  <% end %></br>
<% end %>
<%= link_to "みんなの問題一覧に戻る", created_problems_all_path %>