<h2>みんなの問題一覧</h2>
    <h4>検索欄</h4>
  　検索条件は１つの場合その条件にのみ合致する投稿が表示され、2つ以上の場合は、複数条件に合致する投稿が表示されます。
  <%= form_with url: created_problems_all_path, method: :get do |f| %>
    作問者検索（完全一致のみ検索可能）</br>
    <%= f.text_field :name %></br>
    教科検索（選択肢より選んで下さい）</br>
    <%= f.select :subject_name, options_for_select([["",""]] + @subjects.pluck(:subject_name)) %></br>
    キーワードで問題内容から検索（部分一致も検索可能）</br>
    <%= f.text_field :problem, placeholder: "キーワードを入力" %></br>
    <%= f.submit "検索" %></br>
  <% end %>

<h3>投稿された最新問題</h3></br>

<table class="table table-hover table-inverse">
  <tr>
    <th>作問者</th>
    <th>教科</th>
    <th>問題</th>
    <th></th>
    <th></th>
  </tr>
  <% @created_problems.each_slice(10) do |row| %>
    <% row.each do |created_problem| %>
    <tr>
      <td><%= created_problem.learner.name %></td>
      <td><%= created_problem.subject.subject_name %></td>
      <td><%= created_problem.problem %></td>
      <% if learner_signed_in? %>
        <td><%= link_to "詳細", created_problem_path(created_problem.id) %></td>
      <% else %>
        <td></td>
      <% end %>
      <% if created_problem.learner_id == current_learner&.id %>
        <td></td>
      <% else %>
        <% if SolvedProblem.exists?(created_problem_id: created_problem.id, learner_id: current_learner&.id) %>
          <td></td>
        <% else %>
          <td><%= link_to "解く", new_solved_problem_path(created_problem_id: created_problem.id) %></td>
        <% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
  <%= paginate @created_problems %>
</table>