<h2>投稿問題一覧画面</h2>
  <% if learner_signed_in? %>
    <h4>検索欄</h4>
  　検索条件は１つの場合その条件にのみ合致する投稿が表示され、2つ以上の場合は、複数条件に合致する投稿が表示されます。
  <%= form_with url: created_problems_path, method: :get do |f| %>
    教科検索（選択肢より選んで下さい）</br>
    <%= f.select :subject_name, options_for_select([["",""]] + @subjects.pluck(:subject_name)) %></br>
    キーワードで問題内容から検索（部分一致も検索可能）</br>
    <%= f.text_field :problem, placeholder: "キーワードを入力" %></br>
    ステータス検索（選択肢より選んで下さい）</br>
    <%= f.select :is_release, options_for_select([["",""], ["公開中", true], ["非公開", false]]) %></br>
    <%= f.submit "検索" %>
  <% end %>

<table class="table table-hover table-inverse">
  <tr>
    <th>教科</th>
    <th>問題</th>
    <th>ステータス</th>
  </tr>
  <% @created_problems.each_slice(10) do |row| %>
    <% row.each do |created_problem| %>
      <tr>
        <td><%= created_problem.subject.subject_name %></td>
        <td><%= created_problem.problem %></td>
        <td><% if created_problem.is_release == true %>
    公開中</br>
  <% else %>
    非公開中</br>
  <% end %></td>
        <td><%= link_to "詳細", created_problem_path(created_problem.id) %></td>
      </tr>
    <% end %>
  <% end %>
</table>
<% else %>
問題の投稿した問題一覧機能はログイン後に利用可能です。</br>
ログインはこちら</br>
新規登録はこちら
<% end %>