<div class="d-inline-block">
  <h2 class="bg-primary text-white">問題新規投稿</h2>
</div>
<% if learner_signed_in? %>
  <%= form_with model: @created_problem, url: created_problems_path, method: :post do |f| %>
  教科</br>
  <%= f.select :subject_id, options_from_collection_for_select(Subject.all, :id, :subject_name) %></br>

  問題</br>
  <%= f.text_field :problem %></br>

  模範解答</br>
  <%= f.text_field :model_answer %></br>

  解説</br>
  <%= f.text_field :explanation %></br>

  <%= f.submit "投稿する" %>

<% end %>
<% else %>
  <div class="h2 text-center pt-5">
    <p class="pt-4">問題新規投稿機能はログイン後に利用可能です。</p>
    <p class="pt-4">ログインは<%= link_to "こちら", new_learner_session_path, class: 'link-underline' %></p>
    <p class="pt-4">新規登録は<%= link_to "こちら", new_learner_registration_path, class: 'link-underline' %></p>
  </div>
<% end %>

