<h2>投稿問題詳細画面</h2>

教科　<%= @created_problem.subject.subject_name %></br>
問題　<%= @created_problem.problem %></br>
<% if @created_problem.learner_id == current_learner.id %>
<% else %>
作問者　<%= @created_problem.learner.name %></br>
<% end %>
いいね数　<%= @created_problem.favorites.count %></br>

<% if SolvedProblem.exists?(created_problem_id: @created_problem.id, learner_id: current_learner.id) %>
  模範解答　<%= @created_problem.model_answer %></br>

  あなたの解答　<%= @solved_problem.answer %></br>
  現在の解答ステータス
    <% if @solved_problem.answer_status == true %>
      正解</br>
    <% else %>
      不正解</br>
    <% end %>

    解説　<%= @created_problem.explanation %></br>

    解答情報を削除してもう一度この問題を解く</br>
    （※現在のステータスが正解の場合、ポイントが消えます）</br>
    <%= form_with model: @solved_problem, url: solved_problem_path, method: :patch do |f| %>
      <%= f.hidden_field :answer_deleted, :value => true %>
      <%= f.hidden_field :learner_id %>
      <%= f.hidden_field :created_problem_id %>
      <%= f.hidden_field :answer %>
      <%= f.hidden_field :answer_status %>
      <%= f.submit "解答情報を削除する" %>
    <% end %>

<% end %>
公開ステータス
  <% if @created_problem.is_release == true %>
    公開中</br>
  <% else %>
    非公開中</br>
  <% end %>
投稿日時　<%= @created_problem.created_at %></br>

</br>


<% if @created_problem.learner_id == current_learner.id %>
  模範解答　<%= @created_problem.model_answer %></br>
  解説　<%= @created_problem.explanation %></br>
  獲得ポイント　<%= @points %></br>
  <%= link_to "編集する", edit_created_problem_path %></br>
  <%= link_to "解いてくれた人にコメントする" %>
<% else %>
<% end %>
