<!DOCTYPE html>
<html>
  <head>
    <title>StudyZone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="bg-info h-100">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <nav class="navbar-brand">
            <% if admin_signed_in? %>
              <%= link_to "Study Zone", "/admin", class:"nav-link h2 text-primary" %>
            <% elsif learner_signed_in? %>
              <%= link_to "Study Zone", "/learners", class:"nav-link h2 text-primary" %>
            <% else %>
              <%= link_to "Study Zone", "/", class:"nav-link h2 text-primary" %>
            <% end %>
          </nav>
          <div class="text-center">
            <% if admin_signed_in? %>
              管理者　ログイン中
            <% elsif learner_signed_in? %>
              学習者　ログイン中
            <% else %>
              積極的なインプット・アウトプットを支援するサイトです！</br>
              ポイントをたくさんゲットしてランキング上位を目指しましょう！
            <% end %>
          </div>
          <ul class="navbar-nav ml-auto flex-row">
            <% if admin_signed_in? %>
              <li class="nav-item"><%= link_to "マイページ", admin_admin_path(current_admin), class:'btn bg-white text-info', role:'button' %></li>
              　<li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'btn bg-white text-info', role:'button' %></li>
            <% elsif learner_signed_in? %>
              <li class="nav-item"><%= link_to "マイページ", learner_path(current_learner), class:'btn bg-white text-info', role:'button' %></li>
              　<li class="nav-item"><%= link_to "ログアウト", destroy_learner_session_path, method: :delete, class:'btn bg-white text-info', role:'button' %></li>
            <% else %>
              　<li class="nav-item"><%= link_to "ログイン", learner_session_path, class:'btn bg-white text-info', role:'button' %></li>
            <% end %>
          </ul>
        </div>
      </nav>

    </header>
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar bg-secondary">


          サイドバー左</br>
            <% if admin_signed_in? %>
              <%= link_to "学習者一覧", admin_learners_path, class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "教科一覧・編集", admin_subjects_path, class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "みんなの問題一覧", admin_created_problems_path, class:'btn bg-white text-info', role:'button' %>
            <% elsif learner_signed_in? %>
              <%= link_to "問題を投稿する", new_created_problem_path, class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "投稿した問題一覧", created_problems_path, class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "解いた問題一覧", solved_problems_path(current_learner), class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "みんなの問題一覧", created_problems_all_path, class:'btn bg-white text-info', role:'button' %>
            <% else %>
              <%= link_to "問題を投稿する", new_created_problem_path, class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "投稿した問題一覧", created_problems_path, class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "解いた問題一覧", solved_problems_path(current_learner), class:'btn bg-white text-info', role:'button' %></br>
              <%= link_to "みんなの問題一覧", created_problems_all_path, class:'btn bg-white text-info', role:'button' %>
            <% end %>
            </br>
            </br>
            投稿された最新問題</br>
            <%= CreatedProblem.order(created_at: :desc).first.problem %></br>
            作問者</br>
            <%= CreatedProblem.order(created_at: :desc).first.learner.name %></br>
            教科</br>
            <%= CreatedProblem.order(created_at: :desc).first.subject.subject_name %>
        </div>
      </div>
      <div class="col-lg-6">
        <%= yield %>
      </div>
      <div class="col-lg-3">
        <div class="sidebar bg-secondary">
          サイドバー右

          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to "マイページ", admin_admin_path(current_admin), class:'btn btn-outline-secondary', role:'button' %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class:'btn btn-outline-secondary', role:'button' %></li>
          <% elsif learner_signed_in? %>
            <li class="nav-item"><%= link_to "マイページ", learner_path(current_learner), class:'btn btn-outline-secondary', role:'button' %></li>
            <li class="nav-item"><%= link_to "ログアウト", destroy_learner_session_path, method: :delete, class:'btn btn-outline-secondary', role:'button' %></li>
          <% else %>
            <li class="nav-item"><%= link_to "ログイン", learner_session_path, class:'btn btn-outline-secondary', role:'button' %></li>
          <% end %>
        </div>
      </div>
    <footer>

    </footer>
  </body>
</html>
